<%= form_for @tutor, :html => {:class => "form-horizontal"} do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @tutor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :timespans, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :timespans %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :checked_in, :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :checked_in %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :status %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :room, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :room %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :course_ids, "Courses", :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :course_ids, Course.order(:name), :id, :name, {}, {:class => 'chzn-select', '
      data-placeholder' => "type to search for courses", :multiple => true} %>
      <br />
      <br />
      <%= f.submit :class => 'btn' %>
    </div>
  </div>
<% end %>