<h1>Editing tutor</h1>

<%= render 'form' %>

<%= link_to 'Show', @tutor %> |
<%= link_to 'Destroy', @tutor, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', tutors_path %>
