<div id="buttons">
<%= link_to '<i class="icon-user"></i> New Tutor'.html_safe, new_tutor_path, class: 'btn' %> 
| 
<%= link_to '<i class="icon-download"></i> Download .csv'.html_safe, tutors_path(format: 'csv'), class: 'btn' %> 
|
<!-- todo: make this prettier with http://duckranger.com/2012/06/pretty-file-input-field-in-bootstrap/ or http://viget.com/inspire/custom-file-inputs-with-a-bit-of-jquery -->
<%= form_tag import_tutors_path, multipart: true, style: 'display:inline' do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload .csv or .xlxs", :class => 'btn' %>
<% end %>
</div>

<br />
<br />

<table class="table table-striped table-bordered">
  <tr>
    <th>Tutor</th>
    <th style="width: 100pt">
      Scheduled Time
      <div id="filter_day">
        <label class="checkbox inline">
          <%= check_box_tag :mon %>M
        </label>
        <label class="checkbox inline">
          <%= check_box_tag :tue %>Tu
        </label>
        <label class="checkbox inline">
          <%= check_box_tag :wed %>W
        </label>
        <label class="checkbox inline">
          <%= check_box_tag :thu %>Th
        </label>
        <label class="checkbox inline">
          <%= check_box_tag :fri %>F
        </label>
        <label class="checkbox inline">
          <%= check_box_tag :sat %>Sa
        </label>
        <label class="checkbox inline">
          <%= check_box_tag :sun %>Su
        </label>
        <%= button_tag 'today', {id: 'today', class: 'btn btn-mini'} %>
      </div>
    </th>
    <th>Courses</th>
    <th class="room">Room</th>
    <th class="status">Status</th>
  </tr>

<% @tutors.each do |tutor| %>
  <tr class="<%= tutor.schedule.values.flatten.map(&:day).map(&:downcase).join(' ') %>">
    <td><%= link_to tutor.name, edit_tutor_path(tutor) %></td>
    <td>
      <!-- I don't like this implementation -->
      <% days = %w(Sun Mon Tue Wed Thu Fri Sat) %>
      <% tutor.schedule.each do |day_code, timespan| %>
        <%# TODO: DON'T DO THIS. Fix the representation of timespan as arary always %>
        <% timespan = timespan.first if timespan.respond_to? :first %>
        <div class="<%= timespan.day.downcase %>">
          <span class="label <%= timespan.is_today? ? 'label-info' : ''%>"><%= timespan.day %>:</span>

          <%= timespan.span %>
        </div>
        <!-- label-success/info for current day -->
      <% end %>
    </td>
    <td>
      <% tutor.courses.each_with_index do |course, i| %>
        <%= link_to course.course_number, course %><%= ", " unless i == tutor.courses.size - 1 %>
      <% end %>
    </td>
    <td class="room">
      <%= form_for tutor do |f| %>
        <% if tutor.checked_in %>
          <%= tutor.room %>
        <% else %>
          <%= f.text_field :room %>
        <% end %>
        <%= f.hidden_field :checked_in, :value => !tutor.checked_in %>
        <%= f.submit "clock #{tutor.checked_in ? 'out' : 'in'}", :class => "btn" %>
      <% end %>
    </td>
    <td class="status">
      <div style="width: 10pt">
        <%= tutor.status %>
        <% if user_signed_in? %>
        <% else %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>
