<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tutor.name %>
</p>

<p>
  <b>Schedule start:</b>
  <%= @tutor.schedule_start %>
</p>

<p>
  <b>Schedule end:</b>
  <%= @tutor.schedule_end %>
</p>

<p>
  <b>Capacity:</b>
  <%= @tutor.capacity %>
</p>

<p>
  <b>Status:</b>
  <%= @tutor.status %>
</p>

<p>
  <b>Room:</b>
  <%= @tutor.room %>
</p>

<p>
  <b>Email:</b>
  <%= @tutor.email %>
</p>


<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
