-if user_signed_in?
  #buttons
  =link_to '<i class=""></i> New Course'.html_safe, new_course_path, class: 'btn'

  / <%#= form_tag import_courses_path, multipart: true, style: 'display:inline' do %>
  /   <%#= file_field_tag :file %>
  /   <%#= submit_tag "Upload .json", :class => 'btn btn-warning' %>
  / <%# end %>
  %br


%table(class="table table-striped table-bordered")
  %tr
    %th(style="width: 30%") Course
    %th(style="width: 100pt") Scheduled Times
    -# if user_signed_in?
      %th Tutors

  - @courses.each do |course|
    %tr
      %td= link_to course, course
      %td
        / I don't like this implementation
        %table.week.table.table-condensed
          %tr
            - today = Time.new.strftime('%a')
            - timespans = Timespan.by_day(course.scheduled_time)
            - %w(Sun Mon Tue Wed Thu Fri Sat).each_with_index do |day, i|
              %th{class: (day == today ? 'today' : '')}=day
          %tr
            - %w(Sun Mon Tue Wed Thu Fri Sat).each_with_index do |day, i|
              %td
                = timespans[i].map(&:span).join(', ') if timespans[i]

        - if user_signed_in?
          - Timespan.by_day(course.scheduled_time).each do |day_code, timespans|
            .tutors_by_day{class: timespans.first.day}
              - tutors = course.tutors.select{|t| t.tutors_on?(day_code)}.sort_by{|t| t.schedule[day_code]}
              - tutors.each do |tutor|
                - if tutor.schedule[day_code]
                  .tutor_name
                    - timespan = tutor.schedule[day_code]
                    -# TODO: FIX THIS AWFUL HACK by making tutor schedules hold arrays in their days instead of single timespans
                    - timespan = timespan.first if timespan.respond_to? :first
                    %span{class: 'label ' + (timespan.is_now? ? 'label-info' : '')}= timespan.to_s
                    = tutor.name

        -#%ul
          - Timespan.by_day(course.scheduled_time).each do |day_code, timespans|
            %li.course_day_time
              %span{class: "label " + (timespans.first.is_today? ? 'label-info' : '')}
                = timespans.first.day

              = timespans.map(&:span).join(', ')
              - if user_signed_in?
                .tutor_day_breakdown
                  - tutors = course.tutors.select{|t| t.tutors_on?(day_code)}.sort_by{|t| t.schedule[day_code]}
                  - tutors.each do |tutor|
                    - if tutor.schedule[day_code]
                      .tutor_name
                        - timespan = tutor.schedule[day_code]
                        -# TODO: FIX THIS AWFUL HACK by making tutor schedules hold arrays in their days instead of single timespans
                        - timespan = timespan.first if timespan.respond_to? :first
                        %span{class: 'label ' + (timespan.is_now? ? 'label-info' : '')}= timespan.span
                        = tutor.name