<h2>
  <%= @course.to_s %> 
  <% if user_signed_in? %>
    <small class="muted"><%= link_to 'edit', edit_course_path(@course) %></small>
  <% else %>
    <small class="muted">
      <%= link_to "Leave Review", new_review_path("subject" => @course.name), :class => "btn" %>
    </small>
  <% end %>
</h2>

<table class="table table-striped table-bordered">
  <tr>
    <th>Tutor</th>
    <th>Status</th>
    <th>Scheduled Time</th>
    <% if user_signed_in? %>
      <th>Room</th>
      <th></th>
    <% end %>
  </tr>

<% @course.tutors.each_with_index do |tutor, i| %>
  <tr>
    <td>
      <% if user_signed_in? %>
        <%= link_to tutor.name, edit_tutor_path(tutor) %>
      <% else %>
        Tutor <%= i+1 %>
      <% end %>
    </td>
    <td>
      <div class="" style="width: 10pt">
        <%= tutor.status %>
        <% if user_signed_in? %>
        <% else %>
        <% end %>
      </div>
    </td>
    <td><%= tutor.full_schedule %></td>
    <%= form_for tutor do |f| %>
      <td>
        <% if tutor.checked_in %>
          <%= tutor.room %>
        <% else %>
          <%= f.text_field :room %>
        <% end %>
      </td>
      <td>
        <%= f.hidden_field :checked_in, :value => !tutor.checked_in %>
        <%= f.submit "clock #{tutor.checked_in ? 'out' : 'in'}", :class => "btn" %>
      </td>
    <% end if user_signed_in? %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
  <%= link_to 'New Course', new_course_path %>
<% end %>