-@departments.each do |dept, courses|
  %p 
    %strong= dept + ":"
  %p
    -courses.each do |course|
      %strong(style="margin-left: 35px")=course.course_number + ":"
      =course.scheduled_time.join ", "
      %br
  -if dept == "MATH"
    %p NOTE: An important source of help for first-year math is the Math Help Room, 225 Clements, 4:30-7:30 PM Monday through Thursday!
  -if dept == "CSE"
    %p NOTE: An important source of help for CSE is the CSE Help Desk. Click <a href="Fall_2012_HelpDeskSchedule.pdf"> here </a> to see the  Spring 2013 schedule.<br>