// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tutor_name{
  margin-left: 10pt;
  // display: none;
}

.course_day_time{
  // margin-bottom: 10px;
}


table.week th{
  color: #555;
  cursor: pointer;
  width: 14.28%;
}

th.today{
  // color: #3a87ad;
  background-color: #3a87ad !important;
  color: white !important;
  // color: black !important;
}