@media print{
  .navbar, .nav, #filter_day, .room *, .status, #buttons, .fade {display: none}
  
  /* don't show link locations */
  a:link:after, a:visited:after {
    content: "";
  }

  /* from http://stackoverflow.com/questions/1763639/how-to-deal-with-page-breaks-when-printing-a-large-html-table */
  td{page-break-inside: avoid}
  /*table { page-break-inside:auto }*/
  /*tr    { page-break-inside:never; page-break-after:auto }*/
  /*thead { display:table-header-group }*/
  /*tfoot { display:table-footer-group }*/
}