<%= form_for @review, :html => {:class => "form-horizontal"} do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :tutor_name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :tutor_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subject, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :subject, :value => params["subject"] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rating, :class => "control-label" %>
    <div class="controls">
      <div id="star"></div>
      <%= f.select :rating, (1..5).to_a, {}, {:style => "display: none"} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :review %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email %>
      <span class="help-inline">optional</span>
      <br />
      <%= f.submit :class => 'btn' %>
    </div>
  </div>
<% end %>
