<table class="table table-striped table-bordered">
  <tr>
    <th>Tutor Name</th>
    <th>Subject</th>
    <th>Rating</th>
    <th>Email</th>
    <th>Review</th>
    <th>Sent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.tutor_name %></td>
    <td><%= review.subject %></td>
    <td><%= review.rating %></td>
    <td><%= review.email %></td>
    <td><%= review.review %></td>
    <td><%= time_ago_in_words review.created_at %> ago</td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Review', new_review_path %>
