<p id="notice"><%= notice %></p>

<p>
  <b>Tutor name:</b>
  <%= @review.tutor_name %>
</p>

<p>
  <b>Subject:</b>
  <%= @review.subject %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Review:</b>
  <%= @review.review %>
</p>

<p>
  <b>Email:</b>
  <%= @review.email %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
